nav{
    background-color: linen;
}
#home{
    color: blueviolet;
}
.navbar-nav{
    margin-right: 100px;
}
.col-12{
    text-align: center;
    height: 75vh;
    background-image: linear-gradient(to right,rgb(82,158,253), rgb(61,77,171));
}
h3{
    font-size: 10px;
}
.text{
    background-image: url(mockup.png);
    width: 80%;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
}